/*
Color Palette
background color: #1C315E
primary: 
secondary: 
tertiary: #6F4D8F
accent: #9277AC
vegasGold: #c5b358
white: #fff
black: #000  
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html {
    box-sizing: border-box;
}


body {
    margin: 1;
    padding: .5;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    background-color: #1C315E;
    color: #fff;
    
}


header {
    text-align: center;
    font-size: 1.5rem;
}


article {
    margin: 3rem 0;
}


p {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
}


img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    margin: 0;
    
}

footer {
    text-align: center;
    margin: 5rem 0;
    border-top: 1px solid #fff;
}

.title {
    text-align: center;
    font-size: 1.6rem;
}

@media (min-width: 800px) {
    
}